<footer>
    <nav class="navbar navbar-expand-sm p-2 fixed-bottom">
        <div class="mx-left">
            <p class="mt-5 mb-3 text-muted">
                Made by Zachary Lilley
            </p> 
        </div>
        <div class="mx-auto" >
            <p class="mt-5 mb-3 text-muted">
                v. 1.0.0
            </p> 
        </div>
        <div class="mx-right" >
            <p class="mt-5 mb-3 text-muted">
                Copyright &copy; 2020
                <a href="#">zdlcollective.com</a>
            </p> 
        </div>
    </nav>
</footer>